@import "../__variables";

.baca {
    color: $font-gray;
    font-size: 1rem;
    max-width: 800px;
    min-height: 1vh;

    @media (max-width: 640px) {
        font-size: 0.8125rem;
    }

    article {
        padding: 1.5rem 0rem 2rem;
        text-align: center;

        @media (max-width: 800px) {
            padding: 1.5rem 1rem 2rem;
        }
    }

    .chapter-banner {
        align-items: center;
        background: black;
        display: flex;
        min-height: 80px;
        padding: 1rem 0.5rem;
    }

    .chapter-description {
        margin-bottom: 1.5rem;
    }

    .chapter-navigation {
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .button {
            justify-content: center;
            display: flex;
            margin: 0 5px;

            @media (max-width: 640px) {
                margin: 5px 0px;
                width: 100%;
            }
        }
    }

    .chapter-title {
        margin-bottom: 1rem;
    }

    .content-end {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .content-image {
        display: block;
        min-height: 400px;
        width: 100%;
    }

    .loader-text {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .breadcrumb-list {
        background-color: $surface-dark-gray;
        border-radius: 8px;
        justify-content: center;
    }
}
