$alert-danger: #f8d7da;
$alert-success: #d4edda;

$font-gray: #ddd;
$font-white: #f8f8ff;
$font-black: #2c2c2c;

$primary: #ff4a22;
$secondary: #725197;
$surface-black: #111111;
$surface-gray: #ddd;
$surface-dark-gray: #222222;
$background: white;

$button-a: #d0e6a5;
$button-b: #ffdd95;
$button-c: #abccd8;
$button-gray: #eee;
$button-disabled: #222;

$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
