@import "__variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.1s ease;

    &:hover {
        color: $primary;
    }
}

li {
    list-style: none;
}

// Container
.container {
    margin: auto;
    max-width: 1360px;

    .section {
        width: 100%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
}

// Header
.header {
    background-color: $surface-black;

    .container {
        height: 60px;
        display: flex;
        align-items: center;
    }
}

// Footer
.footer {
    display: flex;
    align-items: center;
    color: $font-white;
    text-align: center;
    background-color: $surface-black;

    .section {
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .footer-link {
        line-height: 50px;
    }

    @media (max-width: 1400px) {
        .section {
            padding: 0 1rem;
        }
    }

    @media (max-width: 640px) {
        .section {
            padding: 0 0.5rem;
        }
    }
}

.swiper-nav {
    display: flex;
    margin-left: auto;

    &-button {
        margin: 0 4px;
        border-radius: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $surface-gray;

        &:hover {
            color: white !important;
            background-color: $primary !important;
        }
    }
}
