@import "__variables";

.konteny {
    width: 100%;

    &-atas {
        align-items: center;
        display: flex;
        margin-bottom: 1.5rem;
    }

    &-bawah {
        display: flex;
        flex-wrap: wrap;
    }

    &-card {
        display: flex;
        margin-bottom: 32px;
        width: 100%;

        @media (max-width: 480px) {
            margin-bottom: 1rem;
        }
    }

    &-poster {
        background-color: $surface-gray;
        height: 200px;
        position: relative;
        width: 150px;

        &:hover ~ .detail .detail-title {
            color: $primary;
        }

        @media (max-width: 480px) {
            height: 120px;
            width: 80px;
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    & .detail {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: calc(100% - 150px);

        @media (max-width: 480px) {
            width: calc(100% - 80px);
        }

        &-title {
            font-size: 16px;
            margin-bottom: 8px;

            &:hover {
                color: $primary;
            }

            @media (max-width: 480px) {
                margin-bottom: 4px;
            }
        }

        .chapter-list {
            font-size: 13px;
            font-weight: 600;
            margin-top: auto;

            .chapter {
                border-bottom: 1px dashed #ddd;
                padding: 10px 0;

                @media (max-width: 480px) {
                    padding: 8px 0;

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

        .genre-list {
            font-size: 13px;

            .genre {
                display: inline;

                &:not(:first-of-type)::before {
                    content: ",";
                    margin-left: -3px;
                }
            }
        }
    }

    &-topage {
        margin-left: auto;
    }
}
