@import "__variables";

.slider {
    position: relative;
    padding-top: 33%;
    overflow: hidden;

    @media (max-width: 575px) {
        padding-top: 200px;
    }

    & .swiper {
        position: absolute;
        inset: 0;
    }

    & .swiper-slide {
        background-color: $surface-gray;

        @media (max-width: 640px) {
            height: 200px;
        }
    }

    &-bgimage {
        background: no-repeat center/cover;
        filter: blur(10px) brightness(20%);
        position: absolute;
        inset: -10%;
    }

    &-poster {
        left: 750px;
        position: absolute;
        top: -60px;
        transform: scale(1.2);
        width: 400px;
        z-index: 1;

        @media (max-width: 1199px) {
            left: 640px;
            top: -80px;
            transform: none;
            width: 400px;
        }

        @media (max-width: 1023px) {
            left: auto;
            right: -70px;
            top: -80px;
            width: 300px;
        }

        @media (max-width: 860px) {
            left: auto;
        }

        @media (max-width: 575px) {
            right: -50px;
            top: -50px;
            width: 250px;
        }

        @media (max-width: 480px) {
            right: -35px;
            top: -20px;
            width: 180px;
        }

        @media (max-width: 380px) {
            left: 240px;
            right: auto;
            width: 160px;
        }

        &-placeholder {
            border: 20px solid white;
            box-shadow: 0 30px 30px #0003;
            padding-top: 148%;
            transform: rotate(15deg);

            @media (max-width: 860px) {
                border-width: 10px;
            }

            & img {
                height: 100%;
                object-fit: cover;
                position: absolute;
                inset: 0;
                width: 100%;
            }
        }
    }

    &-detail {
        bottom: 50%;
        color: $font-white;
        left: 30px;
        max-width: 500px;
        position: absolute;
        transform: translateY(50%);

        @media (max-width: 1023px) {
            width: 460px;
        }

        @media (max-width: 575px) {
            width: calc(100% - 250px);
        }

        @media (max-width: 480px) {
            left: 15px;
            width: calc(100% - 180px);
        }

        &-description {
            margin-bottom: 1rem;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &-title {
            font-size: 24px;
            margin-bottom: 0.5rem;

            @media (max-width: 767px) {
                font-size: 20px;
            }

            @media (max-width: 480px) {
                margin-bottom: 0;
            }
        }
    }

    & .slider-button {
        display: flex;
        flex-wrap: wrap;

        & .button {
            margin-right: 0.5rem;

            @media (max-width: 480px) {
                font-size: 12px;
                line-height: 35px;
                margin-top: 0.5rem;
                padding: 0 1rem;
            }
        }
    }

    & .swiper-nav {
        bottom: 40px;
        position: absolute;
        right: 40px;
        z-index: 1;

        @media (max-width: 1199px) {
            display: none;
        }

        &-button {
            background-color: white;
        }
    }
}

@media (min-width: 1199px) {
    .swiper-slide-active > .slider-poster {
        animation: popup 0.5s ease-out;
    }
}
