@import "../__variables";
@import "../__function";

.button {
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    font-weight: 500;
    line-height: 40px;
    padding: 0px 1rem;
    text-align: center;
    transition: 0.1s ease-in;
    white-space: nowrap;

    &:active {
        opacity: 1;
        transform: scale(0.9);
    }

    &:hover {
        color: inherit;
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
        transform: none;
        color: white;
        background-color: $button-disabled;
        opacity: 0.7;
    }

    &-action {
        height: 40px;
        padding: 0;
        width: 40px;
    }

    &.a {
        background-color: $button-a;
    }

    &.a:hover {
        @include hover($button-a, "background-color");
    }

    &.b {
        background-color: $button-b;
    }

    &.b:hover {
        @include hover($button-b, "background-color");
    }

    &.c {
        background-color: $button-c;
    }

    &.c:hover {
        @include hover($button-c, "background-color");
    }

    &.disabled {
        background-color: $button-disabled;
        color: hover($button-disabled);
        cursor: default;
        opacity: 0.7;
        pointer-events: none;
        transform: none;
    }

    &.gray {
        background-color: $button-gray;
    }

    &.gray:hover {
        @include hover($button-gray, "background-color");
    }

    &.primary {
        background-color: $primary;
        color: $font-white;
    }

    &.primary:hover {
        @include hover($primary, "background-color");
    }

    &.secondary {
        background-color: $secondary;
        color: $font-white;
    }

    &.secondary:hover {
        @include hover($secondary, "background-color");
    }
}
