@import "../__variables";

.kontenx {
    width: 100%;

    &-top {
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
        width: 100%;
    }

    &-bottom {
        min-height: 200px;
        position: relative;

        & .swiper-slide {
            margin-right: 7px;
            width: calc((100% / 8) - 6.3px);

            @media (max-width: 1400px) {
                width: calc((100% / 6) - 5.8px);
            }

            @media (max-width: 992px) {
                width: calc((100% / 4) - 5.4px);
            }

            @media (max-width: 768px) {
                width: calc((100% / 3) - 4.8px);
            }
        }
    }

    &-poster {
        &:hover {
            color: $primary;
        }

        &-placeholder {
            background: $surface-gray;
            padding-top: 133%;
            position: relative;

            img {
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

    &-title {
        font-size: 1em;
    }
}
